# 이미지, 라벨링 파일 무시
*.xml
*.txt
!requirements.txt
*.json
*.csv
*.xlsx
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp

# Python 가상환경 무시
venv/
env/
ENV/
.venv/

# 특정 OS에서 자동으로 생성되는 파일 무시
.DS_Store
Thumbs.db